<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="annexeGroup">
      <h2 data-cy="annexeGroupDetailsHeading"><span>Annexe Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ annexeGroup.id }}</span>
        </dd>
        <dt><span>Nom Annexe</span></dt>
        <dd>
          <span>{{ annexeGroup.nomAnnexe }}</span>
        </dd>
        <dt><span>Produit</span></dt>
        <dd>
          <div *ngIf="annexeGroup.produit">
            <a [routerLink]="['/produit', annexeGroup.produit?.id, 'view']">{{ annexeGroup.produit?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/annexe-group', annexeGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
