<div>
  <h2 id="page-heading" data-cy="AnnexeHeading">
    <span>Annexes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annexe"
        [routerLink]="['/annexe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Annexe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="annexes?.length === 0">
    <span>No annexes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="annexes && annexes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nom Annexe</span></th>
          <th scope="col"><span>Entete Annexe</span></th>
          <th scope="col"><span>Produit</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let annexe of annexes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/annexe', annexe.id, 'view']">{{ annexe.id }}</a>
          </td>
          <td>{{ annexe.nomAnnexe }}</td>
          <td>{{ annexe.enteteAnnexe }}</td>
          <td>
            <div *ngIf="annexe.produit">
              <a [routerLink]="['/produit', annexe.produit?.id, 'view']">{{ annexe.produit?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/annexe', annexe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/annexe', annexe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(annexe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
